.yarn/*
.bin/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/.DS_Store
scripts/cci-job.data.json
scripts/cci-test.data.json
scripts/.yarn/*
artifacts/cci-workflow-results.json
artifacts/cci-workflow-results.html
build
!packages/amplify-graphql-model-transformer/src/__tests__/overrides/build/
!packages/amplify-graphql-function-transformer/src/__tests__/overrides/build/
!packages/amplify-graphql-predictions-transformer/src/__tests__/overrides/build/
!packages/amplify-graphql-http-transformer/src/__tests__/overrides/build/
!packages/amplify-graphql-searchable-transformer/src/__tests__/overrides/build/
node_modules
out
pkg/node_modules
pkg/yarn.lock
*.log
logs
coverage
.nyc_output
.env
UNIFIED_CHANGELOG.md
package-lock.json
packages/amplify-cli/amplify/.config/
packages/amplify-appsync-simulator/public
packages/amplify-dynamodb-simulator/emulator
packages/amplify-dynamodb-simulator/__test__/dynamodb-data
packages/amplify-opensearch-simulator/emulator
.vscode/*
.history/*
!.vscode/amplify-cli.code-workspace
!.vscode/settings.json
!.vscode/extensions.json
.idea
packages/graphql*/lib
packages/amplify-graphql-transformer-*/lib
packages/amplify-cli/lib
packages/amplify-cli-npm/lib
packages/amplify-cli-core/lib
packages/amplify-cli-core-vNext/lib
packages/amplify-cli-logger/lib
packages/amplify-mqtt-server/lib
packages/amplify-appsync-simulator/lib
packages/amplify-e2e-core/lib
packagea/amplify-graphiql-explorer/build
packages/amplify-graphql*/lib
packages/amplify-e2e-tests/lib
packages/amplify-category-function/lib
packages/amplify-category-api/lib
packages/amplify-category-auth/lib
packages/amplify-category-custom/lib
packages/amplify-category-storage/lib
packages/amplify-category-geo/lib/
packages/amplify-e2e-tests/amplify-e2e-reports
packages/amplify-console-integration-tests/lib
packages/amplify-console-integration-tests/console-integration-reports
packages/amplify-migration-tests/amplify-migration-reports
packages/amplify-migration-tests/lib
packages/amplify-headless-interface/lib
packages/amplify-provider-awscloudformation/lib
packages/amplify-prompts/lib
packages/amplify-prompts-vNext/lib
packages/amplify-util-import/lib
packages/amplify-util-headless-input/lib
packages/amplify-util-uibuilder/lib
packages/amplify-cli-shared-interfaces/lib
packages/amplify-opensearch-simulator/lib
packages/*/node_modules
packages/*/package-lock.json
**/.env
!packages/amplify-e2e-tests/projects-templates/create-react-app-auth-amplify/.env
amplify-integ*/
console-integ*/
packages/amplify-storage-simulator/lib
packages/*-template-provider/lib
packages/*-runtime-provider/lib
packages/amplify-function-plugin-interface/lib
packages/amplify-java-function-runtime-provider/resources/localinvoke/.gradle/
packages/amplify-java-function-runtime-provider/resources/localinvoke/lib/
packages/amplify-java-function-runtime-provider/resources/localinvoke/build/
packages/amplify-java-function-runtime-provider/resources/localinvoke/.classpath
packages/amplify-java-function-runtime-provider/resources/localinvoke/.project
packages/amplify-java-function-runtime-provider/resources/localinvoke/.settings/
packages/amplify-java-function-runtime-provider/resources/localinvoke/bin/
packages/**/reports/junit/*
test.out.log
*.tsbuildinfo
packages/amplify-graphiql-explorer/.eslintcache
packages/amplify-cli-extensibility-helper/lib
packages/amplify-cli-overrides-helper/lib
packages/amplify-console-hosting/lib/
packages/amplify-container-hosting/lib/
packages/amplify-category-predictions/lib
packages/amplify-category-analytics/lib
packages/amplify-category-notifications/lib
packages/amplify-category-interactions/lib/
packages/amplify-environment-parameters/lib/
!packages/amplify-graphql-model-transformer/src/__tests__/overrides/build/override.js

.nx/cache
.nx/workspace-data
