**/.DS_Store
node_modules
lerna-debug.log
npm-debug.log
coverage
.nyc_output
yarn.lock
package-lock.json
packages/amplify-cli/amplify/.config/
.vscode
packages/graphql*/lib
packages/amplify-graphql*/lib
packages/*/node_modules
packages/*/package-lock.json