**/node_modules
**/dist
**/package.json
**/yarn.lock
**/package-lock.json
**/.eslintrc.js
**/tsconfig.json
packages/amplify-headless-interface/**/*.schema.json
packages/*/CHANGELOG.md
packages/amplify-cli-core/src/__tests__/testFiles
packages/amplify-category-api/src/__tests__/commands/api/mock-data/invalid_schema.graphql
packages/amplify-provider-awscloudformation/lib/
handlerWithSyntaxError.js
