
version: 2.1

jobs:
  run-nightly_console_integration_tests:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Run scheduled workflow
          command: |
            curl --location --request POST 'https://circleci.com/api/v2/project/github/aws-amplify/amplify-cli/pipeline' \
            --header 'Content-Type: application/json' \
            -u "${CCI_CONTINUATION_TOKEN}:" \
            --data-raw '{
              "branch": "reenable-nightly-workflows",
                "parameters": {
                  "setup": false,
                  "nightly_console_integration_tests": true,
                  "e2e_resource_cleanup": false,
              }
            }'
  run-e2e_resource_cleanup:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Run scheduled workflow
          command: |
            curl --location --request POST 'https://circleci.com/api/v2/project/github/aws-amplify/amplify-cli/pipeline' \
            --header 'Content-Type: application/json' \
            -u "${CCI_CONTINUATION_TOKEN}:" \
            --data-raw '{
              "branch": "reenable-nightly-workflows",
                "parameters": {
                  "setup": false,
                  "nightly_console_integration_tests": false,
                  "e2e_resource_cleanup": true,
              }
            }'

workflows:
  trigger_nightly_console_integration_tests:
    triggers:
      - schedule:
          cron: 0 14 * * *
          filters:
            branches:
              only:
                - nightly-jobs
    jobs:
      - run-nightly_console_integration_tests
  trigger_e2e_resource_cleanup:
    triggers:
      - schedule:
          cron: 45 0,12 * * *
          filters:
            branches:
              only:
                - nightly-jobs
    jobs:
      - run-e2e_resource_cleanup
