version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the continuation orb is required in order to use dynamic configuration
orbs:
  continuation: circleci/continuation@0.1.2

parameters:
  nightly_console_integration_tests:
    type: boolean
    default: false
  e2e_resource_cleanup:
    type: boolean
    default: false
  setup:
    type: boolean
    default: true

executors:
  linux: &linux-e2e-executor
    docker:
      - image: public.ecr.aws/a6e6w2n0/amplify-cli-e2e-base-image-repo-public:latest
    working_directory: ~/repo
    resource_class: large
    environment:
      AMPLIFY_DIR: /home/circleci/repo/out
      AMPLIFY_PATH: /home/circleci/repo/out/amplify-pkg-linux

# our defined job, and its steps
jobs:
  setup:
    executor: 'linux'
    steps:
      - checkout # checkout code
      - run: # run a command
          name: Generate config
          command: |
            cd scripts
            yarn
            yarn split-e2e-tests
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml # use newly generated config to continue
  build:
    parameters:
      os:
        type: executor
        default: linux
    executor: << parameters.os >>
    steps:
      - checkout
      - run: yarn run production-build
      - save_cache:
          key: >-
            amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{
            arch }}
          paths:
            - ~/.cache
      - save_cache:
          key: amplify-cli-ssh-deps-{{ .Branch }}
          paths:
            - ~/.ssh
      - when:
          condition:
            equal:
              - docker:
                  - image: >-
                      public.ecr.aws/a6e6w2n0/amplify-cli-e2e-base-image-repo-public:latest
                working_directory: ~/repo
                resource_class: large
                environment:
                  AMPLIFY_DIR: /home/circleci/repo/out
                  AMPLIFY_PATH: /home/circleci/repo/out/amplify-pkg-linux
              - << parameters.os >>
          steps:
            - persist_to_workspace:
                root: .
                paths: .
  publish_to_local_registry:
    docker:
      - image: public.ecr.aws/a6e6w2n0/amplify-cli-e2e-base-image-repo-public:latest
    working_directory: ~/repo
    resource_class: large
    environment:
      AMPLIFY_DIR: /home/circleci/repo/out
      AMPLIFY_PATH: /home/circleci/repo/out/amplify-pkg-linux
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: >-
            amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{
            arch }}
      - run:
          name: Publish to verdaccio
          command: |
            source .circleci/local_publish_helpers.sh
            startLocalRegistry "$(pwd)/.circleci/verdaccio.yaml"
            setNpmRegistryUrlToLocal
            loginToLocalRegistry
            git config user.email not@used.com
            git config user.name "Doesnt Matter"
            yarn publish-to-verdaccio
            unsetNpmRegistryUrl
      - run:
          name: Generate unified changelog
          command: |
            git reset --hard HEAD
            yarn update-versions
            yarn ts-node scripts/unified-changelog.ts
      - run:
          name: Save new amplify GitHub tag
          command: node scripts/echo-current-cli-version.js > .amplify-pkg-version
      - save_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/verdaccio-cache/
      - save_cache:
          key: amplify-unified-changelog-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/UNIFIED_CHANGELOG.md
      - save_cache:
          key: amplfiy-pkg-tag-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/.amplify-pkg-version
  amplify_console_integration_tests:
    working_directory: ~/repo
    parameters:
      os:
        type: executor
        default: linux
    executor: << parameters.os >>
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Start verdaccio, install node CLI and amplify-app
          command: |
            source .circleci/local_publish_helpers.sh
            startLocalRegistry "$(pwd)/.circleci/verdaccio.yaml"
            setNpmRegistryUrlToLocal
            changeNpmGlobalPath
            npm install -g @aws-amplify/cli
            npm install -g amplify-app
            unsetNpmRegistryUrl
      - save_cache:
          key: amplify-pkg-binaries-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/out
  graphql_e2e_tests:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Run GraphQL end-to-end tests
          command: >-
            cd packages/graphql-transformers-e2e-tests/ && yarn e2e
            --maxWorkers=3
          environment:
            AMPLIFY_CLI_DISABLE_LOGGING: 'true'
          no_output_timeout: 90m
      - store_test_results:
          path: packages/graphql-transformers-e2e-tests/
  amplify_sudo_install_test:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Update OS Packages
          command: sudo apt-get update
      - run:
          name: Start verdaccio and Install Amplify CLI as sudo
          command: |
            source .circleci/local_publish_helpers.sh
            startLocalRegistry "$(pwd)/.circleci/verdaccio.yaml"
            setSudoNpmRegistryUrlToLocal
            changeSudoNpmGlobalPath
            sudo npm install -g @aws-amplify/cli
            unsetSudoNpmRegistryUrl
            amplify version
  amplify_e2e_tests:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    steps: &ref_5
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
      - run: *ref_2
      - run: *ref_3
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-e2e-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-e2e-tests/amplify-e2e-reports
  done_with_node_e2e_tests:
    working_directory: ~/repo
    docker: *ref_0
    resource_class: large
    steps:
      - run: echo 'Done with Node CLI E2E Tests'
  done_with_pkg_linux_e2e_tests:
    working_directory: ~/repo
    docker: *ref_0
    resource_class: large
    steps:
      - run: echo 'Done with pkg CLI E2E Tests'
  amplify_e2e_tests_pkg_linux:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    environment:
      AMPLIFY_DIR: /home/circleci/repo/out
      AMPLIFY_PATH: /home/circleci/repo/out/amplify-pkg-linux
    steps: &ref_6
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: amplify-pkg-binaries-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Symlink Amplify packaged CLI
          command: |
            cd out
            ln -sf amplify-pkg-linux amplify
            echo "export PATH=$AMPLIFY_DIR:$PATH" >> $BASH_ENV
            source $BASH_ENV
            amplify version
      - run: *ref_2
      - run: *ref_3
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-e2e-tests/
      - store_artifacts:
          path: packages/amplify-e2e-tests/amplify-e2e-reports
  amplify_migration_tests_v4:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Run tests migrating from CLI v4.0.0
          command: |
            source .circleci/local_publish_helpers.sh
            changeNpmGlobalPath
            cd packages/amplify-migration-tests
            yarn run migration_v4.0.0 --maxWorkers=3 $TEST_SUITE
          no_output_timeout: 90m
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
  amplify_migration_tests_non_multi_env_layers:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    environment:
      AMPLIFY_PATH: /home/circleci/.npm-global/lib/node_modules/@aws-amplify/cli/bin/amplify
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Run tests migrating from CLI v4.28.2
          command: >
            source .circleci/local_publish_helpers.sh

            changeNpmGlobalPath

            cd packages/amplify-migration-tests

            yarn run migration_v4.28.2_nonmultienv_layers --maxWorkers=3
            $TEST_SUITE
          no_output_timeout: 90m
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
  amplify_migration_tests_multi_env_layers:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    environment:
      AMPLIFY_PATH: /home/circleci/.npm-global/lib/node_modules/@aws-amplify/cli/bin/amplify
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Run tests migrating from CLI v4.52.0
          command: >
            source .circleci/local_publish_helpers.sh

            changeNpmGlobalPath

            cd packages/amplify-migration-tests

            yarn run migration_v4.52.0_multienv_layers --maxWorkers=3
            $TEST_SUITE
          no_output_timeout: 90m
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
  amplify_migration_tests_overrides:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    environment:
      AMPLIFY_PATH: /home/circleci/.npm-global/lib/node_modules/@aws-amplify/cli/bin/amplify
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Run tests migrating from CLI v6.0.1
          command: |
            source .circleci/local_publish_helpers.sh
            changeNpmGlobalPath
            cd packages/amplify-migration-tests
            yarn run migration_v6.0.1 --maxWorkers=3 $TEST_SUITE
          no_output_timeout: 90m
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
  amplify_migration_tests_v4_30_0:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    environment:
      AMPLIFY_PATH: /home/circleci/.npm-global/lib/node_modules/@aws-amplify/cli/bin/amplify
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Update OS Packages
          command: sudo apt-get update
      - run:
          name: Run tests migrating from CLI v4.30.0
          command: |
            source .circleci/local_publish_helpers.sh
            changeNpmGlobalPath
            cd packages/amplify-migration-tests
            yarn run migration_v4.30.0_auth --maxWorkers=3
          no_output_timeout: 90m
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
  amplify_migration_tests_latest:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Run tests migrating from latest CLI
          command: |
            source .circleci/local_publish_helpers.sh
            changeNpmGlobalPath
            cd packages/amplify-migration-tests
            yarn run migration --maxWorkers=3 $TEST_SUITE
          no_output_timeout: 90m
      - run: *ref_4
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
  amplify_console_integration_tests:
    working_directory: ~/repo
    docker: *ref_1
    resource_class: large
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
      - run: *ref_2
      - run:
          command: |
            echo "export PATH=~/.npm-global/bin:$PATH" >> $BASH_ENV
            source $BASH_ENV
            source .circleci/local_publish_helpers.sh
            amplify -v
            cd packages/amplify-console-integration-tests
            retry yarn run console-integration --maxWorkers=3
          name: Run Amplify Console integration tests
          no_output_timeout: 90m
      - run:
          name: Scan And Cleanup E2E Test Artifacts
          command: |
            if ! yarn ts-node .circleci/scan_artifacts.ts; then
              echo "Cleaning the repository"
              git clean -fdx
              exit 1
            fi
          when: always
      - store_test_results:
          path: packages/amplify-console-integration-tests/
      - store_artifacts:
          path: >-
            ~/repo/packages/amplify-console-integration-tests/console-integration-reports
  cleanup_resources:
    docker:
      - image: public.ecr.aws/a6e6w2n0/amplify-cli-e2e-base-image-repo-public:latest
    working_directory: ~/repo
    resource_class: large
    environment:
      AMPLIFY_DIR: /home/circleci/repo/out
      AMPLIFY_PATH: /home/circleci/repo/out/amplify-pkg-linux
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: >-
            amplify-cli-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{
            arch }}
      - run:
          name: Run cleanup script
          command: |
            cd packages/amplify-e2e-tests
            yarn clean-e2e-resources
          no_output_timeout: 90m
      - run:
          name: Scan And Cleanup E2E Test Artifacts
          command: |
            if ! yarn ts-node .circleci/scan_artifacts.ts; then
              echo "Cleaning the repository"
              git clean -fdx
              exit 1
            fi
          when: always
      - store_artifacts:
          path: ~/repo/packages/amplify-e2e-tests/amplify-e2e-reports

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    when: << pipeline.parameters.setup >>
    jobs:
      - setup
  nightly_console_integration_tests:
    when: << pipeline.parameters.nightly_console_integration_tests >>
    jobs:
      - build
      - publish_to_local_registry:
          requires:
            - build
      - amplify_console_integration_tests:
          context:
            - amplify-ecr-image-pull
            - console-e2e-test
            - e2e-auth-credentials
            - e2e-test-context
          requires:
            - build
            - publish_to_local_registry
  e2e_resource_cleanup:
    when: << pipeline.parameters.e2e_resource_cleanup >>
    jobs:
      - build
      - cleanup_resources:
          context:
            - cleanup-resources
            - e2e-test-context
          requires:
            - build