version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@6.15.3

jobs:
  build:
    docker:
      - image: circleci/node:12
    steps:
      - setup_remote_docker
      - aws-ecr/build-and-push-image:
          aws-access-key-id: ECR_ACCESS_KEY
          aws-secret-access-key: ECR_SECRET_ACCESS_KEY
          region: ECR_REGION
          checkout: true
          create-repo: false
          dockerfile: Dockerfile
          repo: amplify-cli-e2e-base-image-repo
          tag: "latest,${CIRCLE_SHA1}"

workflows:
  build_and_push_image:
    jobs:
      - build:
          context: amplify-cli-ecr
          filters:
            branches:
              only:
                - e2e-image-build
