version: 2
machine:
    environment:
      PATH: "${PATH}:${HOME}/${CIRCLE_PROJECT_REPONAME}/node_modules/.bin"

defaults: &defaults
  working_directory: ~/repo
  docker:
      - image: circleci/node:10.8
        environment:
          TERM: xterm
  parallelism: 4

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: npm run production-build
      - save_cache:
          key: amplify-npm-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.cache
      - save_cache:
          key: amplify-ssh-deps-{{ .Branch }}
          paths:
            - ~/.ssh
      - persist_to_workspace:
          root: .
          paths: .
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-npm-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - run: npm run test
  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-npm-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - run:
          name: "Update SSH configs"
          command: |
            mkdir ~/.ssh
            echo $SSH_HOST_PUBLIC_KEY
            echo $SSH_HOST_PUBLIC_KEY >> ~/.ssh/known_hosts
      - run:
          name: "Publish Amplify CLI"
          command: |
            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
              git config --global user.email $GITHUB_EMAIL
              git config --global user.name $GITHUB_USER
              yarn run publish:$CIRCLE_BRANCH
            else
              echo "Skipping deploy."
            fi
    
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - build
            - test
          filters:
            branches:
              only:
                - release
                - master
