name: Build and Test on Mac

on:
  push:
    branches: [dev]
  pull_request:

env:
  NODE_OPTIONS: --max-old-space-size=8096

jobs:
  build-and-test:
    runs-on: macos-latest-xl
    steps:
      - name: Checkout Code
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          persist-credentials: false

      - name: Install Python
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test-ci
